@page "/report/agg"
@using SophiChainThemeDemo.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@layout ReportLayout
@inject PageLayout PageLayout

<SCPageLayout Title="تجمیعی" MenuName="reports" />

<h3>AggReport</h3>
