@page "/services/pagefive/pagesix"
@inherits SophiChainThemeDemoComponentBase

<SCPageLayout Title="صفحه شش" />

<TelerikRootComponent EnableRtl="true" IconType="IconType.Svg">
	<h3>PAGE 6</h3>
</TelerikRootComponent>
