@page "/signup"
@using Telerik.Blazor
@using Telerik.Blazor.Components
@layout Auth1Layout
@inject IKTTheme KTTheme
@inject IJSRuntime JS

<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" data-kt-redirect-url="/signin" action="#">
    <div class="text-center mb-11">
        <h1 class="text-gray-900 mb-3">
            ورود به پنل
        </h1>
    </div>
    <div class="row g-3 mb-9">
        <div class="col-md-6">
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Light" Class="w-100">
                
                ورود با نام کاربری
            </TelerikButton>
        </div>
        <div class="col-md-6">
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Light" Class="w-100">
                <i class="fa-solid fa-message-sms"></i>
                ورود با رمز یک بار مصرف
            </TelerikButton>
        </div>
    </div>
    <div class="d-grid mb-10">
        <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" Class="w-100">

            ورود
        </TelerikButton>
    </div>
</form>