@page "/test"
@using SophiChainThemeDemo.Components.Drawers
@using SophiChainThemeDemo.Menus
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using Telerik.SvgIcons
@inherits SophiChainThemeDemoComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<SCPageLayout Title="تست" BreadcrumbItems="@CustomBreadcrumb" />

<p>TEEESSSSST</p>