@using Volo.Abp.AspNetCore.Components.Web.Theming.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components.LayoutHooks
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Ui.LayoutHooks
@inherits LayoutComponentBase
@layout MasterInit

<PageLoader IsLoading=@IsLoading />

<CascadingValue Value="ThemeState" Name="ThemeState">
	<UiPageProgress />
	<LayoutHook Name="@LayoutHooks.Body.First" Layout="@StandardLayouts.Application" />
	<div id="webapp1-layout" class="sc-layout webapp1-layout">
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				<WA1Header />
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<WA1Sidebar />
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
						<div class="d-flex flex-column flex-column-fluid">
							<WA1PageToolbar />
							<PageAlert />
							<div id="kt_app_content" class="app-content flex-column-fluid">
								<div id="kt_app_content_container" class="app-container container-fluid">
									<div class="page-layout">
										<div class="page-container page-full">
											<div class="page-wrapper">
												<ErrorBoundary>
													<ChildContent>
														<div class="page-content">
															@Body
														</div>
													</ChildContent>
												</ErrorBoundary>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<WA1Footer />
					</div>
				</div>
			</div>
		</div>
	</div>
	<LayoutHook Name="@LayoutHooks.Body.Last" Layout="@StandardLayouts.Application" />
	<DynamicLayoutComponent />

	<UiMessageAlert />
	@* <UiNotificationAlert /> *@
	<SCNotificationAlert />

	<MobileBottomMenu />
	<ScrollTop />
</CascadingValue>

<style>
	:root {
		--sc-primary-color: #1f2d40;
	}
</style>