@using Microsoft.JSInterop
@using SophiChain.Abp.AspNetCore.Components.Web.MetronicTheme.Components.Layouts.WebApp1Layout
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components.LayoutHooks
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Localization
@using Volo.Abp.Ui.LayoutHooks
@inherits LayoutComponentBase
@layout MasterInit

@* MUD & TELERIK TO BE REMOVED LATER IF NEEDED *@
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<TelerikRootComponent  EnableRtl="CultureHelper.IsRtl" IconType="IconType.Svg">
	<div id="empty-layout" class="sc-layout empty-layout">
		<PageAlert />
		<UiPageProgress />
		<LayoutHook Name="@LayoutHooks.Body.First" Layout="@StandardLayouts.Empty" />
		@Body
		<LayoutHook Name="@LayoutHooks.Body.Last" Layout="@StandardLayouts.Empty" />
		<DynamicLayoutComponent />

		<UiMessageAlert />
		@* <UiNotificationAlert /> *@
		<SCNotificationAlert />
	</div>
</TelerikRootComponent>