.app-default {
    background-color: var(--sc-background-color);
}

.sc-theme-dark.app-default {
    background-color: var(--sc-dark-background-color);
}

@media(min-width: 992px){
    .app-content {
        min-height: calc(100vh - 216px);
    }
}

.app-sidebar-logo {
    padding: 15px;
    justify-content: center;
}

.app-sidebar-logo img {
    width: 50px;
}

.app-sidebar-logo a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.app-sidebar-logo-default {
    width: 50px;
    object-fit: contain;
    object-position: center center;
    border: 1px solid var(--sc-border-color);
    border-radius: var(--sc-border-radius-small);
    padding: 5px;
}

.app-sidebar-logo-minimize {
    width: 25px;
    max-width: 25px;
    object-fit: contain;
    object-position: center center;
}

.app-sidebar-logo a .sc-brand-name {
    width: 160px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

@media (min-width: 992px) {
    [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-logo a .sc-brand-name {
        display: none;
    }
}

.app-header {
    background-color: #fff;
}

.sc-theme-dark .app-header {
    background-color: var(--bs-app-header-minimize-bg-color);
}

.app-toolbar {
    height: 65px;
}

@media (min-width: 992px) {
    .app-toolbar .app-header-mobile-drawer {
        display: flex;
    }
}

@media (min-width: 992px) {
    body:not([data-kt-app-header-fixed=true])[data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header,
    body:not([data-kt-app-header-fixed=true])[data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
        margin-right: calc(-var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) + var(--bs-app-sidebar-gap-end, 0px));
    }
}

@media (max-width: 991.98px) {
    [data-kt-app-layout=light-sidebar]:not([data-kt-app-header-fixed-mobile=true]) .app-header {
        background-color: #fff;
    }
}

@media(max-width: 768px) {
    .app-main {
        margin-bottom: 85px;
    }

    .scrolltop {
        bottom: 85px;
    }

    #kt_app_toolbar_container {
        justify-content: center;
    }
}

.app-header-menu .menu > .menu-item > .menu-link > .menu-title {
    font-size: 1rem;
}

.app-header-menu .menu .menu-item .menu-link .menu-icon {
    font-size: 17px;
}
 
.app-sidebar .menu .menu-item .menu-link .menu-icon i {
    font-size: 15px;
}

.app-footer {
    font-size: 12px;
}

.app-footer a {
    font-size: 12px;
}

@media(max-width: 768px) {
    .app-footer-copyright {
        margin-bottom: 5px;
    }

    .auth1-layout .app-footer .app-container {
        padding: 0 !important;
    }
}