/******************** THEME STYLES ********************/
:root {
  --sc-primary-color: #1f2d40;
  --sc-secondary-color: #ffd54f;
  --sc-success-color: #34c759;
  --sc-success-color: #34c759;
  --sc-info-color: #00aaef;
  --sc-warning-color: #ff9f38;
  --sc-danger-color: #ff453a;
  --sc-border-color: #dee2e6;
  --sc-card-color: #f9f9f9;
  --sc-background-color: #ebedef;
  --sc-dark-background-color: #202020;
  --sc-text-color: #212529;
  --sc-input-color: #F9F9F9;
  --sc-dark-input-color: #32445C;
  --sc-dark-text-color: #9A9CAE;
  --sc-heading-color: #212529;
  --sc-menu-item-color: #909398;
  --sc-white-color: #fff;
  --sc-black-color: #000;
  --sc-border-radius-small: 4px;
  --sc-border-radius-medium: 8px;
  --sc-border-radius-large: 16px;
  --sc-border-radius-circle: 50%;
}

:root {
  --bs-primary: #1f2d40;
  --bs-primary-active: #344864;
}

:root {
  --kendo-color-primary: #1f2d40;
  --kendo-color-primary-hover: #344864;
  --kendo-color-primary-active: #344864;
}

/******************** GLOBAL ********************/
body {
  font-family: IRANSansXFaNum, Inter, Helvetica, "sans-serif";
  font-size: 14px !important;
  line-height: 1.5;
  text-align: right;
  direction: rtl;
  color: var(--sc-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--sc-heading-color);
}

.sc-theme-dark h1,
.sc-theme-dark h2,
.sc-theme-dark h3,
.sc-theme-dark h4,
.sc-theme-dark h5,
.sc-theme-dark h6 {
  color: var(--sc-dark-text-color);
}

a {
  color: var(--sc-text-color);
}

.sc-theme-dark label {
  color: var(--sc-dark-text-color);
}

.breadcrumb .breadcrumb-link {
  cursor: pointer;
}

/******************** NAV/MENU ********************/
.show.menu-dropdown > .menu-sub-dropdown,
.menu-sub-dropdown.menu.show,
.menu-sub-dropdown.show[data-popper-placement] {
  z-index: 10001 !important;
}

.sc-mobile-navbar-container {
  display: none;
}

.sc-theme-dark .app-navbar-item i {
  color: var(--sc-dark-text-color);
}

/******************** SIDEBAR ********************/
.sc-theme-light .app-sidebar-logo-dark {
  display: none;
}

.sc-theme-dark .app-sidebar-logo-default {
  display: none;
}

@media (min-width: 992px) {
  [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-logo .app-sidebar-logo-dark {
    display: none;
  }
}
/******************** PAGE LAYOUT ********************/
.page-heading {
  font-size: 18px;
}

@media (max-width: 768px) {
  .page-content {
    overflow-x: hidden;
  }
  .page-toolbar {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .page-toolbar .page-title {
    text-align: center;
  }
}
/******************** AUTH PAGE ********************/
.auth-container {
  min-height: 100vh;
  height: 100vh;
}

/******************** FORM ********************/
.sc-form .k-form-legend {
  display: none;
}

/******************** MOBILE MENU ********************/
@media (max-width: 768px) {
  .sc-mobile-navbar-container {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 72px;
    min-width: 100%;
  }
  .sc-mobile-navbar-container .sc-mobile-navbar {
    background-color: var(--sc-white-color);
    box-shadow: var(--bs-app-header-minimize-box-shadow);
    width: 100%;
    height: 72px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-item {
    width: 55px;
    max-width: 55px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 55px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-item-icon {
    font-size: 22px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .ki-profile-circle {
    font-size: 22px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-text {
    width: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 12px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-avatar {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-menu .sc-mobile-nav-avatar img {
    width: 22px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-right {
    flex: 1;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-left {
    flex: 1;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-center .sc-mobile-nav-hamburger-btn {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50px;
    background-color: var(--sc-secondary-color);
    border-radius: var(--sc-border-radius-circle);
    font-size: 30px;
  }
  .sc-mobile-navbar-container .sc-mobile-nav-center .sc-mobile-nav-hamburger-btn i {
    font-size: 30px;
    color: var(--sc-primary-color);
  }
}
/******************** TOAST NOTIFICATIONS ********************/
.snackbar {
  --bs-toast-zindex: 1090;
  --bs-toast-padding-x: 0.75rem;
  --bs-toast-padding-y: 0.5rem;
  --bs-toast-spacing: 1.5rem;
  --bs-toast-max-width: 350px;
  --bs-toast-font-size: 0.875rem;
  --bs-toast-color: var(--bs-gray-700);
  --bs-toast-bg: var(--bs-body-bg);
  --bs-toast-border-width: var(--bs-border-width);
  --bs-toast-border-color: transparent;
  --bs-toast-border-radius: var(--bs-border-radius);
  --bs-toast-box-shadow: var(--bs-box-shadow);
  --bs-toast-header-color: var(--bs-gray-700);
  --bs-toast-header-bg: var(--bs-body-bg);
  --bs-toast-header-border-color: #dddddd;
  width: var(--bs-toast-max-width);
  max-width: 100%;
  font-size: var(--bs-toast-font-size);
  color: var(--bs-toast-color);
  pointer-events: auto;
  background-color: var(--bs-toast-bg);
  background-clip: padding-box;
  border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
  box-shadow: var(--bs-toast-box-shadow);
  border-radius: var(--bs-toast-border-radius);
  padding: 0;
}

.snackbar.snackbar-success .snackbar-header {
  background-color: var(--sc-success-color);
  color: var(--sc-white-color);
}

.snackbar.snackbar-warning .snackbar-header {
  background-color: var(--sc-warning-color);
}

.snackbar.snackbar-info .snackbar-header {
  background-color: var(--sc-info-color);
  color: var(--sc-white-color);
}

.snackbar.snackbar-danger .snackbar-header {
  background-color: var(--sc-danger-color);
  color: var(--sc-white-color);
}

.snackbar-header {
  display: flex;
  align-items: center;
  padding: var(--bs-toast-padding-y) var(--bs-toast-padding-x);
  color: var(--bs-toast-header-color);
  background-clip: padding-box;
  border-bottom: var(--bs-toast-border-width) solid var(--bs-toast-header-border-color);
  border-top-left-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
  border-top-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
}

.snackbar-body {
  font-size: 14px;
  padding: var(--bs-toast-padding-x);
}

.snackbar-action-button {
  margin-left: 0;
  color: var(--bs-toast-header-color);
}

.snackbar-action-button i {
  font-size: 18px;
  color: var(--sc-primary-color);
}

.snackbar-stack-top-end,
.snackbar-stack-top-start,
.snackbar-stack-top {
  z-index: 99999 !important;
}

/******************** MESSAGE MODAL ********************/
.modal-content .modal-body h1 {
  margin-bottom: 20px;
}
.modal-content .modal-body h1 i {
  width: 80px;
  height: 80px;
  background-color: var(--sc-background-color);
  padding: 15px;
  border-radius: var(--sc-border-radius-circle);
  font-size: 50px;
}

/******************** ALERTS ********************/
.alert {
  width: 500px;
  max-width: 100%;
  right: 40px;
}
.alert .btn-close {
  right: auto;
  left: 0;
}
.alert p {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .alert {
    width: 100%;
    max-width: 330px;
    right: 20px;
  }
}
.auth1-layout .auth-page-alerts {
  margin-top: 30px;
}
.auth1-layout .alert {
  width: 100%;
  max-width: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 480px) {
  .auth1-layout .alert {
    width: 100%;
    max-width: 100%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
