@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inherits PageHeader

<div id="kt_app_toolbar" class="app-toolbar py-4 py-lg-6">
	<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
		<div class="d-flex align-items-stretch justify-content-between" id="kt_app_header_wrapper">
			@if (!PageMenuName.IsNullOrWhiteSpace())
			{
				<WA1PageMenu PageMenuName="@PageMenuName" />
			}
		</div>

		<div class="d-flex align-items-center gap-2 gap-lg-3">
			@foreach (var toolbarItemRender in ToolbarItemRenders)
			{
				@toolbarItemRender
			}
			@if (Toolbar == null)
			{
				@ChildContent
			}
		</div>
	</div>
</div>