@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web.Theming.PageToolbars
@using Volo.Abp.DependencyInjection
@using Volo.Abp.Ui.Branding
@inherits PageHeader
@inject IPageToolbarManager PageToolbarManager
@inject IOptions<PageHeaderOptions> Options
@inject IBrandingProvider BrandingProvider

<div id="kt_app_toolbar" class="app-toolbar py-4 py-lg-6">
	<div id="kt_app_toolbar_container" class="app-container page-toolbar container-fluid d-flex flex-stack">
		<WA1PageTitle />

		<div class="d-flex align-items-center gap-2 gap-lg-3">
			@if(ThemeState.PageToolbar != null)
			{
				foreach (var toolbarItemRender in ToolbarItemRenders)
				{
					@toolbarItemRender
				}
				if (Toolbar == null)
				{
					@ChildContent
				}
			}
		</div>
	</div>
</div>
