<div class="app-navbar-item ms-1 ms-md-4">
	<div class="btn btn-icon btn-custom btn-active-light btn-active-color-primary w-35px h-35px position-relative" @onclick="@(() => ToggleThemeMode(ThemeStyle))">
		@if (ThemeStyle == "dark")
		{
			@((MarkupString)KTTheme.GetIcon("sun", "fs-2"))
		}
		else
		{
			@((MarkupString)KTTheme.GetIcon("moon", "fs-2"))
		}
	</div>
</div>