<div class="app-navbar-item toggle-mode me-4">
	<div class="cursor-pointer symbol symbol-35px" @onclick="@(() => ToggleThemeMode(ThemeStyle))">
		@if (ThemeStyle == "dark")
		{
			<i class="fa-duotone fa-solid fa-sun"></i>
		}
		else
		{
			<i class="fa-duotone fa-solid fa-moon"></i>
		}
	</div>
</div>